<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>買取査定</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/assenssment.css') }}">
    <script>
        const onChangeInputFile = (e) => {
            if (e.target.files && e.target.files[0]) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    document.getElementById('thumbnail').setAttribute('src', e.target.result);
                };
                reader.readAsDataURL(e.target.files[0]);
            }
        };
    </script>
</head>
<body>
    <h1>ベジブルアプリ</h1>
    
    <h2>買取査定</h2>
    <div>
        <img id="thumbnail" accept="image/*" src="{{ url_for('static', filename='img/add_pic.png') }}">
    </div>
    <div>
        <img src="data:image/png;base64,{{encoded}}" width="100px" alt="vegeimage">
        <h3>{{output}}</h3>
    </div>
    <form action="/assessment" method="post" enctype="multipart/form-data">
        <input type="file" name="vege_image" accept="image/*" onchange="onChangeInputFile(event)">
        <input type="submit" value="査定する">
    </form>

    <div class="footer">
    <a href="/">査定</a>
    <a href="/message">メッセージ</a>
    <a href="/news">お知らせ</a>
    <a href="/mypage">プロフィール</a>
    </div>
</body>
</html>