<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ログイン</title>
</head>
<body>
    <h1>ログイン</h1>
    <form action="/login" method="post">
        <input type="text" name="phone" value="{{ phone }}" placeholder="電話番号を入力">
        <input type="password" name="password" placeholder="パスワードを入力">
        <input type="submit" value="ログイン">
    </form>
    <a href="/register">アカウント新規作成</a>
</body>
</html>