<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>プロフィール</title>
</head>
<body>
    <h1>プロフィール</h1>
    <p>名前: {{ name }}</p>
    <p>電話番号: {{ phone }}</p>
    <p>パスワード: {{ password}}</p>
    <p>登録日時: {{ date }}</p>
    <a href="logout">ログアウト</a>
    <div class="footer">
        <a href="/">査定</a>
        <a href="/message">メッセージ</a>
        <a href="/news">お知らせ</a>
        <a href="/mypage">プロフィール</a>
    </div>
</body>
</html>