<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>id</th>
            <th>名前</th>
            <th>電話番号</th>
            <th>パスワード</th>
            <th>ユーザータイプ</th>
            <th>作成時期</th>
        </tr>    
        {% for user in users %}
        <tr>
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.password_hash}}</td>
            <td>{{user.user_type}}</td>
            <td>{{user.created_at}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>